<section id="features " class="features bg-light-purple m-top-60 ">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 ">
                        
                        <div class="f_item_text ">
                            <h3>How to save money 101</h3>
                            <p>Discover the secrets to easily save money and make a plan</p>
                            <p><a href="https://www.daveramsey.com/blog/the-secret-to-saving-money"> Ways to save</a></p>
         

                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 "> 
                        
                        <div class="f_item_text ">
                            <h3>Finance for beginners</h3>
                            <p> Take a look at effective financial breakdown</p>
                            <p><a href="https://www.forbes.com/sites/rent/2015/06/05/money-talk-a-breakdown-of-financial-terms-for-beginners/"> Finance 101</a></p>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->


<!--Dialogue section-->

<section id="dialogue " class="dialogue bg-light-blue roomy-80 ">
    <div class="container ">
        <div class="row ">
            <div class="main_dialogue text-center ">
                <div class="col-md-12 ">
                    <h3 class="text-white"> Know where you stand and how you can improve. Manage money like never before with GreenCrunch
                        <br /> </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="features " class="features bg-pink">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                
                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        
                        <div class="f_item_text ">
                            <h3>Money on the go</h3>
                            <p>Begin your cost analysis by trying out financial dieting</p> 
                            <p><a href="https://money.usnews.com/money/personal-finance/saving-and-budgeting/articles/2018-09-21/how-to-go-on-a-financial-diet"> Get Started on a Financial Diet</a></p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        
                        <div class="f_item_text ">
                            <h3>Budgets that work</h3>
                            <p>Get personalized tips and advice for maximizing your money every day</p>
                            <p><a href="http://money.com/money/collection-post/4023439/personal-finance-habits/">Money Habits to Grow into</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->