<section id="features " class="features bg-light-green m-top-60 ">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 ">
                        
                        <div class="f_item_text ">
                            <h3>How to save money 101</h3>
                            <p>Discover the secrets to easily save money and make a plan</p>
                            <p><a href="https://www.daveramsey.com/blog/the-secret-to-saving-money"> Ways to save</a></p>
         

                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 "> 
                        
                        <div class="f_item_text ">
                            <h3>Finance for beginners</h3>
                            <p> Take a look at effective financial breakdown</p>
                            <p><a href="https://www.forbes.com/sites/rent/2015/06/05/money-talk-a-breakdown-of-financial-terms-for-beginners/"> Finance 101</a></p>
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->


<!--Dialogue section-->

<section id="dialogue " class="dialogue bg-light-blue roomy-80 ">
    <div class="container ">
        <div class="row ">
            <div class="main_dialogue text-center ">
                <div class="col-md-12 ">
                    <h3 class="text-white">On average, new budgeters save $600 by month two and more than $6,000 their first year
                        <br /> </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="features " class="features bg-pink">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                
                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        
                        <div class="f_item_text ">
                            <h3>Grow your knowledge</h3>
                            <p>Original content on the website helps grow your knowledge on the go</p>
                        </div> 
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        
                        <div class="f_item_text ">
                            <h3>Credit Check</h3>
                            <p>Find your FICO score and know where your credit stands</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->
