<body data-spy="scroll" data-target="#navbar-menu" data-offset="110">

    <div class="culmn">
        <!--Home page style-->


        <nav class="navbar navbar-default bootsnav navbar-fixed no-background white" style="background-color:rgba(0, 0, 0, 0.75);">
            <!-- Start Top Search -->
            <div class="top-search">
                <div class="container">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-search"></i></span>
                        <input type="text" class="form-control" placeholder="Search">
                        <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
                    </div>
                </div>
            </div>
            <!-- End Top Search -->


            <div class="container">
                <!-- <div class="attr-nav">
                    <ul>
                        <li class="search"><a href="#"><i class="fa fa-search"></i></a></li>
                    </ul>
                </div> -->

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                            <i class="fa fa-bars"></i>
                        </button>
                    <a class="navbar-brand" href="#brand">
                        <img src="assets/images/logo.png" class="logo" alt="">
                        <!--<img src="assets/images/footer-logo.png" class="logo logo-scrolled" alt="">-->
                    </a>

                </div>
                <!-- End Header Navigation -->

                <!-- navbar menu -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav navbar-right" >
                        <li><a *ngIf="!givenName" href="/home" style="color:blanchedalmond;">Home</a></li>
                        <!----<li><a href="#contact ">Contact</a></li>-->
                        <li><a *ngIf="!givenName" (click)="login()" style="cursor: pointer;color:blanchedalmond;">Login/Register</a>
                        <li><a *ngIf="givenName" href="/dashboard" style="color:blanchedalmond;">Dashboard</a></li>
                        <li><a *ngIf="givenName" href="/transaction" style="color:blanchedalmond;">Transaction</a></li>
                         <li><a *ngIf="givenName" href="/budget" style="color:blanchedalmond;">Budgets</a></li>
                         <li><a *ngIf="givenName" href="/articles" style="color:blanchedalmond;">Articles</a></li>
                        <li><a href="../about/" style="color:blanchedalmond;">About</a></li>
                        <li><a href="../team/" style="color:blanchedalmond;">Team</a></li>
                        <li><a *ngIf="givenName" (click)="logout()" style="color:blanchedalmond;">Logout</a></li>

                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </nav>
    </div>

</body>