<section id="business " class="business bg-light-pink roomy-70 ">

    <div class="container ">
        <div class="row ">
            <div class="main_business ">
                <div class="col-md-6 ">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h2 class="initialism"><strong>Budget</strong></h2>
                        <ul class="bar-graph">
                            <li class="bar-graph-axis">
                                <div class="bar-graph-label">100%</div>
                                <div class="bar-graph-label">80%</div>
                                <div class="bar-graph-label">60%</div>
                                <div class="bar-graph-label">40%</div>
                                <div class="bar-graph-label">20%</div>
                                <div class="bar-graph-label">0%</div>
                            </li>
                            <li class="bar primary" style="height: 95%;" title="95">
                                <div class="percent">95<span>%</span></div>
                                <div class="description">Bill & Utilities</div>
                            </li>
                            <li class="bar secondary" style="height: 90%;" title="90">
                                <div class="percent">90<span>%</span></div>
                                <div class="description">Shopping</div>
                            </li>
                            <li class="bar success" style="height: 80%;" title="80">
                                <div class="percent">80<span>%</span></div>
                                <div class="description">Food & Drinks</div>
                            </li>
                            <li class="bar warning" style="height: 75%;" title="75">
                                <div class="percent">75<span>%</span></div>
                                <div class="description">Groceries</div>
                            </li>
                            <li class="bar alert" style="height: 40%;" title="40">
                                <div class="percent">40<span>%</span></div>
                                <div class="description">Entertainment</div>
                            </li>
                        </ul>



                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h2 class="text-uppercase"><strong>One Step</strong> at a time </h2>
                        <h2 class="text-upper">Personalized tips for your lifestyle</h2>



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--Second-->
<section id="business " class="business bg-light-pink roomy-70 ">

    <div class="container ">
        <div class="row ">
            <div class="main_business ">
                <div class="col-md-6">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h2 class="initialism"><strong>Budget</strong></h2>
                        <ul class="bar-graph">
                            <li class="bar-graph-axis">
                                <div class="bar-graph-label">100%</div>
                                <div class="bar-graph-label">80%</div>
                                <div class="bar-graph-label">60%</div>
                                <div class="bar-graph-label">40%</div>
                                <div class="bar-graph-label">20%</div>
                                <div class="bar-graph-label">0%</div>
                            </li>
                            <li class="bar primary" style="height: 95%;" title="95">
                                <div class="percent">95<span>%</span></div>
                                <div class="description">Bill & Utilities</div>
                            </li>
                            <li class="bar secondary" style="height: 90%;" title="90">
                                <div class="percent">90<span>%</span></div>
                                <div class="description">Shopping</div>
                            </li>
                            <li class="bar success" style="height: 80%;" title="80">
                                <div class="percent">80<span>%</span></div>
                                <div class="description">Food & Drinks</div>
                            </li>
                            <li class="bar warning" style="height: 75%;" title="75">
                                <div class="percent">75<span>%</span></div>
                                <div class="description">Groceries</div>
                            </li>
                            <li class="bar alert" style="height: 40%;" title="40">
                                <div class="percent">40<span>%</span></div>
                                <div class="description">Entertainment</div>
                            </li>
                        </ul>



                    </div>
                </div>

                <div class="col-md-6">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h2 class="text-uppers"><strong>Create Budgets</strong> That makes sense today and set you up for success tomorrow
                        </h2>



                    </div>
                </div>

            </div>
        </div>
    </div>
</section>





















<!----
<br><br><br><br>
<h2>Current spending</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr ngForOf="let category of totals.keys()">
            <td> {{category}} </td>
            <td>{{totals.get(category)}}</td>

        </tr>
    </tbody>
</table>

<h2>Goal initially entered by user</h2>

<br><br><br><br>


-->



<div class="business_btn m-top-50">
    <button class="btn btn-default m-top-20 " style="margin:0px;" onclick="document.getElementById('id01').style.display='block'"> Edit Goal</button>



    <div id="id01" class="modal">
        <form class="modal-content" [formGroup]="editGoalForm" (ngSubmit)="editGoal()">
            <div class="form-group container" style="padding-left: 30%;">
                <h1 style="color:black">Edit Your Goal</h1>
                <h4 style="color:grey">Please fill in this form to edit your goal</h4>
                <hr>
                <tbody>

                    <tr>
                        <td><label for="bills" class="control-label"><b>Bills/Utilities</b></label></td>
                        <td><input type="number" placeholder="Enter Amount" formControlName='bills' name="bills" class="form-control goal" required></td>
                    </tr>

                    <tr>
                        <td><label for="shopping" class="control-label"><b>Shopping</b></label></td>
                        <td>
                            <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='shopping' name="shopping" required>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="food" class="control-label"><b>Food/Drinks</b></label></td>
                        <td>
                            <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='food' name="food" required>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="groceries" class="control-label"><b>Groceries</b></label></td>
                        <td>
                            <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='groceries' name="groceries" required>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="entertainment" class="control-label"><b>Entertainment</b></label></td>
                        <td>
                            <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='entertainment' name="entertainment" required>
                        </td>
                    </tr>

                    <tr>
                        <td><label for="misc" class="control-label"><b>Misc</b></label></td>
                        <td>
                            <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='misc' name="misc" required>
                        </td>
                    </tr>
                    <div class="clearfix">
                        <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                        <button type="submit" [disabled]="!editGoalForm.valid" class="signupbtn">Add</button>
                    </div>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var add_modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                add_modal.style.display = "none";
            }
        }
    </script>
</div>