<section id="business " class="business bg-light-pink roomy-70 " style="padding-right: 80px; padding-left:80px; margin-right: 0px;">
    <br>
    <div class="row ">
        <div class="main_business ">
            <div class="col-md-5">
                <div class="business_item sm-m-top-50 ml-10">
                    <h1 class="initialism"><strong>Your Current Spending</strong></h1>
                    <ul class="bar-graph">
                        <li class="bar-graph-axis">
                            <div class="bar-graph-label">100%</div>
                            <div class="bar-graph-label">80%</div>
                            <div class="bar-graph-label">60%</div>
                            <div class="bar-graph-label">40%</div>
                            <div class="bar-graph-label">20%</div>
                            <div class="bar-graph-label">0%</div>
                        </li>

                        <li *ngFor="let current of getCurrent()" [ngStyle]="{'height.%': current.percent}" [class]="current.class" title={{current.amount}}>
                                <div class="percent" style='font-size: 20px;'>${{current.amount}}</div>
                                <div class="description">{{current.name}}</div>
                        </li>
                    </ul>



                </div>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h1 class="initialism">
                            <strong>Your Budget</strong>
                                <i onclick="document.getElementById('id01').style.display='block'" class="fa fa-pencil" style="color:white; cursor: pointer;" title="Click to edit you budget"></i>
                            
                        </h1>
                        <ul class="bar-graph">
                            <li class="bar-graph-axis">
                                <div class="bar-graph-label">100%</div>
                                <div class="bar-graph-label">80%</div>
                                <div class="bar-graph-label">60%</div>
                                <div class="bar-graph-label">40%</div>
                                <div class="bar-graph-label">20%</div>
                                <div class="bar-graph-label">0%</div>
                            </li>
                            <li *ngFor="let goal of getGoals()" [ngStyle]="{'height.%': goal.percent}" [class]="goal.class" title={{goal.amount}}>
                                    <div class="percent" style='font-size: 20px;'>${{goal.amount}}</div>
                                    <div class="description">{{goal.name}}</div>
                            </li>
                        </ul>

                    </div>
                </div>

        </div>
    </div>
</section>

<section id="business " class="business bg-light-pink roomy-40 "></section>

<!--Second-->
<!-- <section id="business " class="business bg-light-pink roomy-70 ">

    <div class="container ">
        <div class="row ">
            <div class="main_business ">
                <div class="col-md-6">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h1 class="initialism">
                            <strong>Your Budget</strong>
                            <!-- <button  class="btn btn-default" style="width: 40px; height: 40px; background-color: white; color:black;"> --
                                <i onclick="document.getElementById('id01').style.display='block'" class="fa fa-pencil" style="color:white; cursor: pointer;" title="Click to edit you budget"></i>
                            <!-- </button> --
                        </h1>
                        <ul class="bar-graph">
                            <li class="bar-graph-axis">
                                <div class="bar-graph-label">100%</div>
                                <div class="bar-graph-label">80%</div>
                                <div class="bar-graph-label">60%</div>
                                <div class="bar-graph-label">40%</div>
                                <div class="bar-graph-label">20%</div>
                                <div class="bar-graph-label">0%</div>
                            </li>
                            <li *ngFor="let goal of getGoals()" [ngStyle]="{'height.%': goal.percent}" [class]="goal.class" title={{goal.amount}}>
                                    <div class="percent" style='font-size: 20px;'>${{goal.amount}}</div>
                                    <div class="description">{{goal.name}}</div>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="col-md-6">
                    <div class="business_item sm-m-top-50 ml-10">
                        <br>
                        <h2 class="text-uppers"><strong>Create Budgets</strong> That makes sense today and set you up for success tomorrow
                        </h2>



                    </div>
                </div>

            </div>
        </div>
    </div>
</section> -->

<div class="business_btn m-top-50">
        <div id="id01" class="modal">
            <form class="modal-content" [formGroup]="editGoalForm" (ngSubmit)="editGoal()">
                <div class="form-group container" style="padding-left: 30%;">
                    <h1 style="color:black">Edit Your Goal</h1>
                    <h4 style="color:grey">Please fill in this form to edit your goal</h4>
                    <br>
                    <tbody>
                        <tr *ngFor="let goal of getGoals()">
                            <td><label [for]="goal.name" class="control-label"><b>{{goal.name}}</b></label></td>
                            <td><input sytle="font-size 18px;" type="number" [formControlName]='goal.name' [name]="goal.name" style='font-size: 20px;' required [(ngModel)]="goal.amount"></td>
                        </tr>
                        <!-- <tr>
                            <td><label for="bills" class="control-label"><b>Bills/Utilities</b></label></td>
                            <td><input type="number" placeholder="Enter Amount"  class="form-control goal" required [(ngModel)]="transaction.date_time"></td>
                        </tr>
    
                        <tr>
                            <td><label for="shopping" class="control-label"><b>Shopping</b></label></td>
                            <td>
                                <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='shopping' name="shopping" required>
                            </td>
                        </tr>
    
                        <tr>
                            <td><label for="food" class="control-label"><b>Food/Drinks</b></label></td>
                            <td>
                                <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='food' name="food" required>
                            </td>
                        </tr>
    
                        <tr>
                            <td><label for="groceries" class="control-label"><b>Groceries</b></label></td>
                            <td>
                                <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='groceries' name="groceries" required>
                            </td>
                        </tr>
    
                        <tr>
                            <td><label for="entertainment" class="control-label"><b>Entertainment</b></label></td>
                            <td>
                                <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='entertainment' name="entertainment" required>
                            </td>
                        </tr>
    
                        <tr>
                            <td><label for="misc" class="control-label"><b>Misc</b></label></td>
                            <td>
                                <input type="number" placeholder="Enter Amount" class="form-control goal" formControlName='misc' name="misc" required>
                            </td>
                        </tr> -->
                        <tr>
                            <td>
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                            </td>
                            <td>
                                <button type="submit" [disabled]="!editGoalForm.valid" class="signupbtn">Save</button>
                            </td>
                        </tr>
                    </tbody>
                </div>
            </form>
        </div>
    
        <script>
            // Get the modal
            var add_modal = document.getElementById('id01');
    
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
                if (event.target == modal) {
                    add_modal.style.display = "none";
                }
            }
        </script>
    </div>
