.home {
    /*background: url(./assets/img/1.jpg) no-repeat top center;*/
    /*background-color: #0080A3;*/
    background-size: cover;
    position: relative;
    padding-top: 450px;
    width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
    font-size: 50px;
}

.text-upper {
    text-transform: uppercase;
    font-size: 50px;
    color: #506F7E;
}

.text-uppers {
    text-transform: uppercase;
    font-size: 50px;
    color: #8C5E6F;
}

#myModal {
    display: none;
}

td {
    width: 250px;
}


/* The Modal (background) */

.modal {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

html,
body {
    margin: 0 auto;
    padding: 0 auto;
    font-family: "Times New Roman", arial, Verdana;
    color: white;
    background: #d8d6cb;
}

p {
    margin: 0;
    padding: 4px;
}

div {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    top: 290%;
    left: 120%;
    width: 740px;
    height: 380px;
    margin: -340px -370px;
    padding: 0;
}


/* Header start */

#header {
    text-align: center;
    margin: 0 0 30px 0;
    padding: 15px 0 15px 0;
}

#txt_title {
    color: #3d381b;
    font-size: 34px;
    text-align: center;
    text-shadow: 0 -1px 2px rgba(255, 255, 255, .5);
}

#txt_subtitle {
    font-size: 17px;
    text-align: center;
}


/* Header end */


/* Label and percentage data start */

#labels {
    position: absolute;
    left: 540px;
    top: 150px;
    width: 80px;
}

#percentage_wrapper {
    position: absolute;
    left: 665px;
    top: 151px;
    width: 50px;
    height: 124px;
    overflow: hidden;
}

#percentage {
    position: absolute;
    clip: rect(0px, 50px, 125px, 0px);
}

#labels ul,
#percentage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: white;
}

#labels li,
#percentage li {
    display: block;
    margin: 0;
    padding: 0 0 8px 0;
}

#labels span {
    display: block;
    float: left;
    width: 8px;
    height: 8px;
    margin: 5px 5px 0 0;
    background: #FFFFFF;
}

#labels ul :nth-child(1) span {
    background: #8FC1CF;
}

#labels ul :nth-child(2) span {
    background: #86AD00;
}

#labels ul :nth-child(3) span {
    background: #F2B705;
}

#labels ul :nth-child(4) span {
    background: #D97904;
}

#labels ul :nth-child(5) span {
    background: #BC3603;
}

#percentage p {
    display: block;
    width: 50px;
    margin: 0;
    padding: 0 0 8px 0;
    float: left;
}

#percentage ul {
    position: absolute;
    width: 300px;
}

#q2_2010:target #percentage ul {
    left: -0px;
}

#q1_2010:target #percentage ul {
    left: -50px;
}

#q4_2009:target #percentage ul {
    left: -100px;
}

#q3_2009:target #percentage ul {
    left: -150px;
}

#q2_2009:target #percentage ul {
    left: -200px;
}

#q1_2005:target #percentage ul {
    left: -250px;
}


/* Label and percentage data end */


/* Slider (contains two chart div) start */

#slider {
    width: 300px;
    height: 350px;
    margin: 0 auto;
    padding: 0 auto;
    overflow-y: hidden;
    overflow-x: auto;
}

#slider::-webkit-scrollbar {
    /* webkit only */
    height: 12px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#beb8a1), to(#cfcab9));
    -webkit-border-radius: 6px;
}

#slider::-webkit-scrollbar-thumb {
    /* webkit only */
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#8c8775), to(#7f7a6a));
    -webkit-border-radius: 6px;
}

#pie_ico,
#pyr_ico {
    position: absolute;
    width: 80px;
    height: 26px;
    top: 464px;
    text-align: center;
}

#pie_ico {
    left: 137px
}

#pyr_ico {
    left: 535px
}


/* Slider end */


/* Charts start */

#chart_holder {
    width: 600px;
    height: 350px;
    margin: 0;
    padding: 0;
}

#pyr_chart,
#pie_chart {
    position: relative;
    float: left;
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(rgba(255, 255, 255, 0.2)));
}

#pyr_chart ul,
#pie_chart ul {
    list-style-type: none;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
}

#pyr_chart li,
#pie_chart li {
    position: absolute;
    top: 0px;
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
}

#pie_chart p {
    width: 300px;
    height: 300px;
    padding: 0;
    margin: 0;
}

#pie_chart li p {
    -webkit-transition: all .7s ease-out;
}

#pie_chart span {
    display: block;
    width: 150px;
    height: 300px;
}

#pie_chart ul :nth-child(odd) {
    clip: rect(0px, 300px, 300px, 150px);
}

#pie_chart ul :nth-child(even) {
    clip: rect(0px, 150px, 300px, 0px);
}

.pie_left {
    -moz-border-radius-topleft: 150px;
    -moz-border-radius-bottomleft: 150px;
    -webkit-border-top-left-radius: 150px;
    -webkit-border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
}

.pie_right {
    margin-left: 150px;
    -moz-border-radius-topright: 150px;
    -moz-border-radius-bottomright: 150px;
    -webkit-border-top-right-radius: 150px;
    -webkit-border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
}

#c1_l span {
    background: #BC3603;
    background-image: -moz-radial-gradient(left 45deg, circle closest-corner, #de3d00 10%, #BC3603 100%);
    background-image: -webkit-gradient(radial, left center, 10, left center, 150, from(#de3d00), to(#BC3603));
}

#c1_r span {
    background: #BC3603;
    background-image: -moz-radial-gradient(right 45deg, circle closest-corner, #de3d00 10%, #BC3603 100%);
    background-image: -webkit-gradient(radial, right center, 10, right center, 150, from(#de3d00), to(#BC3603));
}

#c2_l span {
    background: #D97904;
    background-image: -moz-radial-gradient(left 45deg, circle closest-corner, #fb8a00 10%, #D97904 100%);
    background-image: -webkit-gradient(radial, left center, 10, left center, 150, from(#fb8a00), to(#D97904));
}

#c2_r span {
    background: #D97904;
    background-image: -moz-radial-gradient(right 45deg, circle closest-corner, #fb8a00 10%, #D97904 100%);
    background-image: -webkit-gradient(radial, right center, 10, right center, 150, from(#fb8a00), to(#D97904));
}

#c3_l span {
    background: #F2B705;
    background-image: -moz-radial-gradient(left 45deg, circle closest-corner, #ffc517 10%, #F2B705 100%);
    background-image: -webkit-gradient(radial, left center, 10, left center, 150, from(#ffc517), to(#F2B705));
}

#c3_r span {
    background: #F2B705;
    background-image: -moz-radial-gradient(right 45deg, circle closest-corner, #ffc517 10%, #F2B705 100%);
    background-image: -webkit-gradient(radial, right center, 10, right center, 150, from(#ffc517), to(#F2B705));
}

#c4_l span {
    background: #86AD00;
    background-image: -moz-radial-gradient(left 45deg, circle closest-corner, #9bc800 10%, #86AD00 100%);
    background-image: -webkit-gradient(radial, left center, 10, left center, 150, from(#9bc800), to(#86AD00));
}

#c4_r span {
    background: #86AD00;
    background-image: -moz-radial-gradient(right 45deg, circle closest-corner, #9bc800 10%, #86AD00 100%);
    background-image: -webkit-gradient(radial, right center, 10, right center, 150, from(#9bc800), to(#86AD00));
}

#c5_l span {
    background: #8FC1CF;
    background-image: -moz-radial-gradient(left 45deg, circle closest-corner, #00addb 10%, #3A95BD 100%);
    background-image: -webkit-gradient(radial, left center, 10, left center, 150, from(#00addb), to(#3A95BD));
}

#c5_r span {
    background: #8FC1CF;
    background-image: -moz-radial-gradient(right 45deg, circle closest-corner, #00addb 10%, #3A95BD 100%);
    background-image: -webkit-gradient(radial, right center, 10, right center, 150, from(#00addb), to(#3A95BD));
}


/*Pie chart data (degree value) */

#pie_chart ul :nth-child(1) p,
#q2_2010:target #pie_chart ul :nth-child(1) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pie_chart ul :nth-child(2) p,
#q2_2010:target #pie_chart ul :nth-child(2) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pie_chart ul :nth-child(3) p,
#q2_2010:target #pie_chart ul :nth-child(3) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pie_chart ul :nth-child(4) p,
#q2_2010:target #pie_chart ul :nth-child(4) p {
    -moz-transform: rotate(170deg);
    -webkit-transform: rotate(170deg);
    -o-transform: rotate(170deg);
}

#pie_chart ul :nth-child(5) p,
#q2_2010:target #pie_chart ul :nth-child(5) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pie_chart ul :nth-child(6) p,
#q2_2010:target #pie_chart ul :nth-child(6) p {
    -moz-transform: rotate(152deg);
    -webkit-transform: rotate(152deg);
    -o-transform: rotate(152deg);
}

#pie_chart ul :nth-child(7) p,
#q2_2010:target #pie_chart ul :nth-child(7) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pie_chart ul :nth-child(8) p,
#q2_2010:target #pie_chart ul :nth-child(8) p {
    -moz-transform: rotate(126deg);
    -webkit-transform: rotate(126deg);
    -o-transform: rotate(126deg);
}

#pie_chart ul :nth-child(9) p,
#q2_2010:target #pie_chart ul :nth-child(9) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#pie_chart ul :nth-child(10) p,
#q2_2010:target #pie_chart ul :nth-child(10) p {
    -moz-transform: rotate(36deg);
    -webkit-transform: rotate(36deg);
    -o-transform: rotate(36deg);
}

#q1_2010:target #pie_chart ul :nth-child(1) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2010:target #pie_chart ul :nth-child(2) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2010:target #pie_chart ul :nth-child(3) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2010:target #pie_chart ul :nth-child(4) p {
    -moz-transform: rotate(170deg);
    -webkit-transform: rotate(170deg);
    -o-transform: rotate(170deg);
}

#q1_2010:target #pie_chart ul :nth-child(5) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2010:target #pie_chart ul :nth-child(6) p {
    -moz-transform: rotate(153deg);
    -webkit-transform: rotate(153deg);
    -o-transform: rotate(153deg);
}

#q1_2010:target #pie_chart ul :nth-child(7) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2010:target #pie_chart ul :nth-child(8) p {
    -moz-transform: rotate(131deg);
    -webkit-transform: rotate(131deg);
    -o-transform: rotate(131deg);
}

#q1_2010:target #pie_chart ul :nth-child(9) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2010:target #pie_chart ul :nth-child(10) p {
    -moz-transform: rotate(42deg);
    -webkit-transform: rotate(42deg);
    -o-transform: rotate(42deg);
}

#q4_2009:target #pie_chart ul :nth-child(1) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q4_2009:target #pie_chart ul :nth-child(2) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q4_2009:target #pie_chart ul :nth-child(3) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q4_2009:target #pie_chart ul :nth-child(4) p {
    -moz-transform: rotate(171deg);
    -webkit-transform: rotate(171deg);
    -o-transform: rotate(171deg);
}

#q4_2009:target #pie_chart ul :nth-child(5) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q4_2009:target #pie_chart ul :nth-child(6) p {
    -moz-transform: rotate(154deg);
    -webkit-transform: rotate(154deg);
    -o-transform: rotate(154deg);
}

#q4_2009:target #pie_chart ul :nth-child(7) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q4_2009:target #pie_chart ul :nth-child(8) p {
    -moz-transform: rotate(139deg);
    -webkit-transform: rotate(139deg);
    -o-transform: rotate(139deg);
}

#q4_2009:target #pie_chart ul :nth-child(9) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q4_2009:target #pie_chart ul :nth-child(10) p {
    -moz-transform: rotate(50deg);
    -webkit-transform: rotate(50deg);
    -o-transform: rotate(50deg);
}

#q3_2009:target #pie_chart ul :nth-child(1) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q3_2009:target #pie_chart ul :nth-child(2) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q3_2009:target #pie_chart ul :nth-child(3) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q3_2009:target #pie_chart ul :nth-child(4) p {
    -moz-transform: rotate(172deg);
    -webkit-transform: rotate(172deg);
    -o-transform: rotate(172deg);
}

#q3_2009:target #pie_chart ul :nth-child(5) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q3_2009:target #pie_chart ul :nth-child(6) p {
    -moz-transform: rotate(156deg);
    -webkit-transform: rotate(156deg);
    -o-transform: rotate(156deg);
}

#q3_2009:target #pie_chart ul :nth-child(7) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q3_2009:target #pie_chart ul :nth-child(8) p {
    -moz-transform: rotate(145deg);
    -webkit-transform: rotate(145deg);
    -o-transform: rotate(145deg);
}

#q3_2009:target #pie_chart ul :nth-child(9) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q3_2009:target #pie_chart ul :nth-child(10) p {
    -moz-transform: rotate(61deg);
    -webkit-transform: rotate(61deg);
    -o-transform: rotate(61deg);
}

#q2_2009:target #pie_chart ul :nth-child(1) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q2_2009:target #pie_chart ul :nth-child(2) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q2_2009:target #pie_chart ul :nth-child(3) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q2_2009:target #pie_chart ul :nth-child(4) p {
    -moz-transform: rotate(172deg);
    -webkit-transform: rotate(172deg);
    -o-transform: rotate(172deg);
}

#q2_2009:target #pie_chart ul :nth-child(5) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q2_2009:target #pie_chart ul :nth-child(6) p {
    -moz-transform: rotate(158deg);
    -webkit-transform: rotate(158deg);
    -o-transform: rotate(158deg);
}

#q2_2009:target #pie_chart ul :nth-child(7) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q2_2009:target #pie_chart ul :nth-child(8) p {
    -moz-transform: rotate(149deg);
    -webkit-transform: rotate(149deg);
    -o-transform: rotate(149deg);
}

#q2_2009:target #pie_chart ul :nth-child(9) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q2_2009:target #pie_chart ul :nth-child(10) p {
    -moz-transform: rotate(66deg);
    -webkit-transform: rotate(66deg);
    -o-transform: rotate(66deg);
}

#q1_2005:target #pie_chart ul :nth-child(1) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2005:target #pie_chart ul :nth-child(2) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2005:target #pie_chart ul :nth-child(3) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2005:target #pie_chart ul :nth-child(4) p {
    -moz-transform: rotate(176deg);
    -webkit-transform: rotate(176deg);
    -o-transform: rotate(176deg);
}

#q1_2005:target #pie_chart ul :nth-child(5) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2005:target #pie_chart ul :nth-child(6) p {
    -moz-transform: rotate(167deg);
    -webkit-transform: rotate(167deg);
    -o-transform: rotate(167deg);
}

#q1_2005:target #pie_chart ul :nth-child(7) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2005:target #pie_chart ul :nth-child(8) p {
    -moz-transform: rotate(167deg);
    -webkit-transform: rotate(167deg);
    -o-transform: rotate(167deg);
}

#q1_2005:target #pie_chart ul :nth-child(9) p {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#q1_2005:target #pie_chart ul :nth-child(10) p {
    -moz-transform: rotate(143deg);
    -webkit-transform: rotate(143deg);
    -o-transform: rotate(143deg);
}

#pyr_chart li {
    -webkit-transition: all .5s;
}

#pyr_chart ul :nth-child(1) {
    background: #BC3603;
    background-image: -moz-radial-gradient(center 0deg, circle closest-corner, #de3d00 10%, #BC3603 100%);
    background-image: -webkit-gradient(radial, center center, 10, center center, 150, from(#de3d00), to(#BC3603));
}

#pyr_chart ul :nth-child(2) {
    background: #D97904;
    background-image: -moz-radial-gradient(center 0deg, circle closest-corner, #fb8a00 10%, #D97904 100%);
    background-image: -webkit-gradient(radial, center center, 10, center center, 150, from(#fb8a00), to(#D97904));
    height: 292px;
}

#pyr_chart ul :nth-child(3) {
    background: #F2B705;
    background-image: -moz-radial-gradient(center 0deg, circle closest-corner, #ffc517 10%, #F2B705 100%);
    background-image: -webkit-gradient(radial, center center, 10, center center, 150, from(#ffc517), to(#F2B705));
    height: 277px;
}

#pyr_chart ul :nth-child(4) {
    background: #86AD00;
    background-image: -moz-radial-gradient(center 0deg, circle closest-corner, #9bc800 10%, #86AD00 100%);
    background-image: -webkit-gradient(radial, center center, 10, center center, 150, from(#9bc800), to(#86AD00));
    height: 255px;
}

#pyr_chart ul :nth-child(5) {
    background: #8FC1CF;
    background-image: -moz-radial-gradient(center 0deg, circle closest-corner, #00addb 10%, #0092B9 100%);
    background-image: -webkit-gradient(radial, center center, 10, center center, 150, from(#00addb), to(#0092B9));
    height: 180px;
}

#pyr_chart ul :nth-child(6) {
    width: 0;
    height: 0;
    border-color: transparent #d8d6cb transparent #d8d6cb;
    border-width: 0px 150px 300px 150px;
    border-style: solid;
}


/*Pyramid chart data (height value) */

#q1_2010:target #pyr_chart ul :nth-child(2) {
    height: 292px;
}

#q1_2010:target #pyr_chart ul :nth-child(3) {
    height: 277px;
}

#q1_2010:target #pyr_chart ul :nth-child(4) {
    height: 259px;
}

#q1_2010:target #pyr_chart ul :nth-child(5) {
    height: 185px;
}

#q4_2009:target #pyr_chart ul :nth-child(2) {
    height: 292px;
}

#q4_2009:target #pyr_chart ul :nth-child(3) {
    height: 279px;
}

#q4_2009:target #pyr_chart ul :nth-child(4) {
    height: 266px;
}

#q4_2009:target #pyr_chart ul :nth-child(5) {
    height: 192px;
}

#q3_2009:target #pyr_chart ul :nth-child(2) {
    height: 293px;
}

#q3_2009:target #pyr_chart ul :nth-child(3) {
    height: 280px;
}

#q3_2009:target #pyr_chart ul :nth-child(4) {
    height: 271px;
}

#q3_2009:target #pyr_chart ul :nth-child(5) {
    height: 201px;
}

#q2_2009:target #pyr_chart ul :nth-child(2) {
    height: 293px;
}

#q2_2009:target #pyr_chart ul :nth-child(3) {
    height: 282px;
}

#q2_2009:target #pyr_chart ul :nth-child(4) {
    height: 274px;
}

#q2_2009:target #pyr_chart ul :nth-child(5) {
    height: 205px;
}

#q1_2005:target #pyr_chart ul :nth-child(2) {
    height: 297px;
}

#q1_2005:target #pyr_chart ul :nth-child(3) {
    height: 290px;
}

#q1_2005:target #pyr_chart ul :nth-child(4) {
    height: 290px;
}

#q1_2005:target #pyr_chart ul :nth-child(5) {
    height: 269px;
}


/* Charts end */


/* button panel start */

#btn_panel {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 420px;
    padding-top: 35px;
}

#btn_panel ul {
    list-style-type: none;
    display: inline;
    padding: 0;
    margin: 0;
}

#btn_panel li {
    float: left;
    padding: 5px;
}

#btn_panel span:first-child {
    display: block;
    font-size: 22px;
    padding: 5px 0 0 0
}

#btn_panel span:last-child {
    display: block;
    font-size: 16px;
    padding: 7px 0 0 0;
}

#btn_panel li a {
    display: block;
    width: 60px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    color: #565446;
    background: #fcfcfc;
    background-image: -moz-linear-gradient(100% 40% 270deg, #FFFFFF, #eaeaea, #f5f5f5 100%);
    background-image: -webkit-gradient(linear, 0% 45%, 0% 69%, from(#FFFFFF), to(#EDEDED), color-stop(.4, #F7F7F7));
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: #c0bca7 0px 1px 0px;
    -webkit-box-shadow: #c0bca7 0px 1px 0px;
    box-shadow: #c0bca7 0px 1px 0px;
    -webkit-transition: all .3s ease-out;
    opacity: .5;
}

#btn_panel li:last-child a {
    color: #c33702;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}

#q1_2005:target #btn_panel li:last-child a,
#q2_2009:target #btn_panel li:last-child a,
#q3_2009:target #btn_panel li:last-child a,
#q4_2009:target #btn_panel li:last-child a,
#q1_2010:target #btn_panel li:last-child a {
    color: #565446;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    opacity: .5;
}

#q1_2005:target #btn_panel li:nth-child(1) a {
    color: #c33702;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}

#q2_2009:target #btn_panel li:nth-child(2) a {
    color: #c33702;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}

#q3_2009:target #btn_panel li:nth-child(3) a {
    color: #c33702;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}

#q4_2009:target #btn_panel li:nth-child(4) a {
    color: #c33702;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}

#q1_2010:target #btn_panel li:nth-child(5) a {
    color: #c33702;
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    opacity: 1;
}


/* button panel end */


/************************
Css orignal https://codepen.io/jlalovi/details/bIyAr
************************/


/* @import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700); */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: #1f253d;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1 {
    font-size: 23px;
}

h2 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
p,
a,
span {
    color: #fff;
}

.scnd-font-color {
    color: #9099b7;
}

.titular {
    display: block;
    line-height: 60px;
    margin: 0;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.horizontal-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.horizontal-list li {
    float: left;
}

.block {
    margin: 25px 25px 0 0;
    background: #394264;
    border-radius: 5px;
    float: left;
    width: 300px;
    overflow: hidden;
}


/******************************************** LEFT CONTAINER *****************************************/

.left-container {}

.menu-box {
    height: 360px;
}

.donut-chart-block {
    overflow: hidden;
}

.donut-chart-block .titular {
    padding: 10px 0;
}

.os-percentages li {
    width: 75px;
    border-left: 1px solid #394264;
    text-align: center;
    background: #50597b;
}

.os {
    margin: 0;
    padding: 10px 0 5px;
    font-size: 15px;
}

.os.ios {
    border-top: 4px solid #e64c65;
}

.os.mac {
    border-top: 4px solid #11a8ab;
}

.os.linux {
    border-top: 4px solid #fcb150;
}

.os.win {
    border-top: 4px solid #4fc4f6;
}

.os-percentage {
    margin: 0;
    padding: 0 0 15px 10px;
    font-size: 25px;
}

.line-chart-block,
.bar-chart-block {
    height: 400px;
}

.line-chart {
    height: 200px;
    background: #11a8ab;
}

.time-lenght {
    padding-top: 22px;
    padding-left: 38px;
    overflow: hidden;
}

.time-lenght-btn {
    display: block;
    width: 70px;
    line-height: 32px;
    background: #50597b;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    margin-right: 5px;
    -webkit-transition: background .3s;
    transition: background .3s;
}

.time-lenght-btn:hover {
    text-decoration: none;
    background: #e64c65;
}

.month-data {
    padding-top: 28px;
}

.month-data p {
    display: inline-block;
    margin: 0;
    padding: 0 25px 15px;
    font-size: 16px;
}

.month-data p:last-child {
    padding: 0 25px;
    float: right;
    font-size: 15px;
}

.increment {
    color: #e64c65;
}


/******************************************
↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓ ↓
ESTILOS PROPIOS DE LOS GRÄFICOS
↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑ ↑
GRAFICO LINEAL
******************************************/

.grafico {
    padding: 2rem 1rem 1rem;
    width: 100%;
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 80%;
}

.grafico span {
    display: block;
    position: absolute;
    bottom: 3rem;
    left: 2rem;
    height: 0;
    border-top: 2px solid;
    transform-origin: left center;
}

.grafico span>span {
    left: 100%;
    bottom: 0;
}

[data-valor='25'] {
    width: 75px;
    transform: rotate(-45deg);
}

[data-valor='8'] {
    width: 24px;
    transform: rotate(65deg);
}

[data-valor='13'] {
    width: 39px;
    transform: rotate(-45deg);
}

[data-valor='5'] {
    width: 15px;
    transform: rotate(50deg);
}

[data-valor='23'] {
    width: 69px;
    transform: rotate(-70deg);
}

[data-valor='12'] {
    width: 36px;
    transform: rotate(75deg);
}

[data-valor='15'] {
    width: 45px;
    transform: rotate(-45deg);
}

[data-valor]:before {
    content: '';
    position: absolute;
    display: block;
    right: -4px;
    bottom: -3px;
    padding: 4px;
    background: #fff;
    border-radius: 50%;
}

[data-valor='23']:after {
    content: '+'attr(data-valor) '%';
    position: absolute;
    right: -2.7rem;
    top: -1.7rem;
    padding: .3rem .5rem;
    background: #50597B;
    border-radius: .5rem;
    transform: rotate(45deg);
}

[class^='eje-'] {
    position: absolute;
    left: 0;
    bottom: 0rem;
    width: 100%;
    padding: 1rem 1rem 0 2rem;
    height: 80%;
}

.eje-x {
    height: 2.5rem;
}

.eje-y li {
    height: 25%;
    border-top: 1px solid #777;
}

[data-ejeY]:before {
    content: attr(data-ejeY);
    display: inline-block;
    width: 2rem;
    text-align: right;
    line-height: 0;
    position: relative;
    left: -2.5rem;
    top: -.5rem;
}

.eje-x li {
    width: 33%;
    float: left;
    text-align: center;
}


/******************************************
GRAFICO CIRCULAR PIE CHART
******************************************/

.donut-chart {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto 2rem;
    border-radius: 100%
}

p.center-date {
    background: #394264;
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 130px;
    height: 130px;
    margin: auto;
    border-radius: 50%;
    line-height: 35px;
    padding: 15% 0 0;
}

.center-date span.scnd-font-color {
    line-height: 0;
}

.recorte {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.quesito {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    height: 100%;
    position: absolute;
    width: 100%;
    font-family: monospace;
    font-size: 1.5rem;
}

#porcion1 {
    transform: rotate(0deg);
}

#porcion1 .quesito {
    background-color: #E64C65;
    transform: rotate(76deg);
}

#porcion2 {
    transform: rotate(76deg);
}

#porcion2 .quesito {
    background-color: #11A8AB;
    transform: rotate(140deg);
}

#porcion3 {
    transform: rotate(215deg);
}

#porcion3 .quesito {
    background-color: #8FC1CF;
    transform: rotate(113deg);
}

#porcionFin {
    transform: rotate(-32deg);
}

#porcionFin .quesito {
    background-color: #FCB150;
    transform: rotate(32deg);
}

.nota-final {
    clear: both;
    color: #4FC4F6;
    font-size: 1rem;
    padding: 2rem 0;
}

.nota-final strong {
    color: #E64C65;
}

.nota-final a {
    color: #FCB150;
    font-size: inherit;
}


/**************************
BAR-CHART
**************************/

.grafico.bar-chart {
    background: #8FC1CF;
    padding: 0 1rem 2rem 1rem;
    width: 100%;
    height: 60%;
    position: relative;
    color: #fff;
    font-size: 80%;
}

.bar-chart [class^='eje-'] {
    padding: 0 1rem 0 2rem;
    bottom: 1rem;
}

.bar-chart .eje-x {
    bottom: 0;
}

.bar-chart .eje-y li {
    height: 20%;
    border-top: 1px solid #fff;
}

.bar-chart .eje-x li {
    width: 14%;
    position: relative;
    text-align: left;
}

.bar-chart .eje-x li i {
    transform: rotatez(-45deg) translatex(-1rem);
    transform-origin: 30% 60%;
    display: block;
}

.bar-chart .eje-x li:before {
    content: '';
    position: absolute;
    bottom: 1.9rem;
    width: 70%;
    right: 5%;
    box-shadow: 3px 0 rgba(0, 0, 0, .1), 3px -3px rgba(0, 0, 0, .1);
}

.bar-chart .eje-x li:nth-child(1):before {
    background: #E64C65;
    height: 570%;
}

.bar-chart .eje-x li:nth-child(2):before {
    background: #11A8AB;
    height: 900%;
}

.bar-chart .eje-x li:nth-child(3):before {
    background: #FCB150;
    height: 400%;
}

.bar-chart .eje-x li:nth-child(4):before {
    background: #4FC4F6;
    height: 290%;
}

.bar-chart .eje-x li:nth-child(5):before {
    background: #FFED0D;
    height: 720%;
}

.bar-chart .eje-x li:nth-child(6):before {
    background: #F46FDA;
    height: 820%;
}

.bar-chart .eje-x li:nth-child(7):before {
    background: #15BFCC;
    height: 520%;
}


/*****************************
USO NÚMEROS MÁGICOS EN ALGUNOS VALORES
POR NO PARARME A ESTUDIAR A FONDO
EL CSS DEL PEN ORIGINAL
*****************************/

.navbar {
    overflow: hidden;
    background-color: #96AFBB;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: #E9CEC8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

button {
    background-color: #96AFBB;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

button:hover {
    opacity: 1;
}


/* Extra styles for the cancel button */

.cancelbtn {
    padding: 14px 20px;
    background-color: #EE7642;
    float: right;
    margin-right: 10px;
}

.signupbtn {
    float: left;
    margin-left: 10px;
}


/* Float cancel and signup buttons and add an equal width */

.cancelbtn,
.signupbtn {
    width: 60%;
}


/* Add padding to container elements */

.container {
    padding: 16px;
}


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
}


/* Modal Content/Box */

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%;
    /* Could be more or less, depending on screen size */
}


/* Style the horizontal ruler */

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


/* The Close Button (x) */


/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Change styles for cancel button and signup button on extra small screens */

@media screen and (max-width: 300px) {
    .cancelbtn,
    .signupbtn {
        width: 100%;
    }
}

input[type=text],
input[type=date],
input[type=number] {
    width: 90%;
    padding-left: 5px;
    margin: 5px 0 15px 0;
    display: inline-block;
    border: 1px black solid;
    background: #f1f1f1;
}


/* Add a background color when the inputs get focus */

input[type=text]:focus,
input[type=date]:focus,
input[type=number]:focus {
    background-color: white;
    outline: none;
}

.bar-graph {
    padding: 0;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 425px;
    margin: 0;
}

.bar-graph li {
    display: block;
    padding: 1.5625rem 0;
    position: relative;
    text-align: center;
    vertical-align: bottom;
    border-radius: 4px 4px 0 0;
    max-width: 20%;
    height: 100%;
    margin: 0 1.8% 0 0;
    -webkit-flex: 1 1 15%;
    -ms-flex: 1 1 15%;
    flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
    -webkit-flex: 1 1 8%;
    -ms-flex: 1 1 8%;
    flex: 1 1 8%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.bar-graph .bar-graph-label {
    margin: 0;
    background-color: none;
    color: #8a8a8a;
    position: relative;
}

@media print,
screen and (min-width: 40em) {
    .bar-graph .bar-graph-label:before,
    .bar-graph .bar-graph-label:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 50%;
        width: 20%;
    }
}

@media print,
screen and (min-width: 40em) and (min-width: 64em) {
    .bar-graph .bar-graph-label:before,
    .bar-graph .bar-graph-label:after {
        width: 30%;
    }
}

@media print,
screen and (min-width: 40em) {
    .bar-graph .bar-graph-label:after {
        left: auto;
        right: 0;
    }
}

.bar-graph .percent {
    color: white;
    width: 100%;
    font-size: 1.875rem;
    position: absolute;
}

@media print,
screen and (min-width: 40em) {
    .bar-graph .percent {
        font-size: 3.875rem;
    }
}

.bar-graph .percent span {
    font-size: 1.875rem;
}

.bar-graph .description {
    font-weight: 800;
    color: white;
    text-transform: uppercase;
    width: 100%;
    font-size: 14px;
    bottom: 15px;
    position: absolute;
    font-size: 1rem;
    overflow: hidden;
}

.bar-graph .bar.primary {
    border: 1px solid #1779ba;
    background: linear-gradient(#2196e3, #1779ba 70%);
}

.bar-graph .bar.secondary {
    border: 1px solid #767676;
    background: linear-gradient(#909090, #767676 70%);
}

.bar-graph .bar.success {
    border: 1px solid #3adb76;
    background: linear-gradient(#65e394, #3adb76 70%);
}

.bar-graph .bar.warning {
    border: 1px solid #ffae00;
    background: linear-gradient(#ffbe33, #ffae00 70%);
}

.bar-graph .bar.alert {
    border: 1px solid #cc4b37;
    background: linear-gradient(#d67060, #cc4b37 70%);
}