<section id="business " class="business bg-light-pink roomy-70 ">

    <div class="container ">
        <div class="row ">
            <div class="main_business ">
                <div class="col-md-6 ">
                    <div class="business_item sm-m-top-50 ml-10">
 <h2 class="initialism"><strong>Budget</strong></h2>
                        <ul class="bar-graph">
  <li class="bar-graph-axis">
    <div class="bar-graph-label">100%</div>
    <div class="bar-graph-label">80%</div>
    <div class="bar-graph-label">60%</div>
    <div class="bar-graph-label">40%</div>
    <div class="bar-graph-label">20%</div>
    <div class="bar-graph-label">0%</div>
  </li>
  <li class="bar primary" style="height: 95%;" title="95">
    <div class="percent">95<span>%</span></div>
    <div class="description">Bill & Utilities</div>
  </li>
  <li class="bar secondary" style="height: 90%;" title="90">
    <div class="percent">90<span>%</span></div>
    <div class="description">Shopping</div>
  </li>
  <li class="bar success" style="height: 80%;" title="80">
    <div class="percent">80<span>%</span></div>
    <div class="description">Food & Drinks</div>
  </li>
  <li class="bar warning" style="height: 75%;" title="75">
    <div class="percent">75<span>%</span></div>
    <div class="description">Groceries</div>
  </li>
  <li class="bar alert" style="height: 40%;" title="40">
    <div class="percent">40<span>%</span></div>
    <div class="description">Entertainment</div>
  </li>
</ul>



                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="business_item sm-m-top-50 ml-10">
                        <h2 class="text-uppercase"><strong>Effortlessly</strong> stay on top of bills</h2>


                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!--Second-->

<section id="business " class="business bg-light-pink roomy-70 ">

    <div class="container ">
        <div class="row ">
            <div class="main_business ">
                <div class="col-md-6 ">
                    <div class="business_item sm-m-top-50 ml-10">
 <h2 class="text-uppercase"><strong>Budget</strong></h2>
                         <h2 class="text-uppercase"><strong>Effortlessly</strong> stay on top of bills</h2>




                    </div>
                </div>

                <div class="col-md-6 ">
                    <div class="business_item sm-m-top-50 ml-10">

                       <ul class="bar-graph">
  <li class="bar-graph-axis">
    <div class="bar-graph-label">100%</div>
    <div class="bar-graph-label">80%</div>
    <div class="bar-graph-label">60%</div>
    <div class="bar-graph-label">40%</div>
    <div class="bar-graph-label">20%</div>
    <div class="bar-graph-label">0%</div>
  </li>
  <li class="bar primary" style="height: 95%;" title="95">
    <div class="percent">95<span>%</span></div>
    <div class="description">Bill & Utilities</div>
  </li>
  <li class="bar secondary" style="height: 90%;" title="90">
    <div class="percent">90<span>%</span></div>
    <div class="description">Shopping</div>
  </li>
  <li class="bar success" style="height: 80%;" title="80">
    <div class="percent">80<span>%</span></div>
    <div class="description">Food & Drinks</div>
  </li>
  <li class="bar warning" style="height: 75%;" title="75">
    <div class="percent">75<span>%</span></div>
    <div class="description">Groceries</div>
  </li>
  <li class="bar alert" style="height: 40%;" title="40">
    <div class="percent">40<span>%</span></div>
    <div class="description">Entertainment</div>
  </li>
</ul>
                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>






















<br><br><br><br>
<h2>Current spending</h2>
<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Category</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let category of totals.keys()">
            <td> {{category}} </td>
            <td>{{totals.get(category)}}</td>

        </tr>
    </tbody>
</table>

<h2>Goal initially entered by user</h2>

<br><br><br><br>






<div class="business_btn m-top-50 ">
    <button class="btn btn-default m-top-20 " style="margin:0px;" onclick="document.getElementById('id01').style.display='block'"> Create a Goal</button>



    <div id="id01" class="modal">
        <form class="modal-content" [formGroup]="addGoalForm" (ngSubmit)="add()">
            <div class="form-group container">
                <h1>Create a Goal</h1>
                <h1>Please fill in this form to create a goal</h1>
                <hr>
                <label for="date" class="control-label"><b>Date</b></label><br>
                <input type="date" placeholder="Enter Date" formControlName='add_date' name="add_date" class="form-control" required>

                <label for="item" class="control-label"><b>Desired Monthly Savings</b></label>
                <input type="number" placeholder="Enter savings" class="form-control" formControlName='add_item' name="add_item" required>

                <label for="type" class="control-label"><b>Desired Monthly Expenditures</b></label>
                <input type="number" placeholder="Enter expenditures" class="form-control" formControlName='add_type' name="add_type" required>

                <div ng-controller="MyCtrl">
                    <div>
                        <label>Category </label>
                        <br>
                        <select ng-model="params.name">
              <option value="pa"></option>
              <option value="ws">Bills/Utilities</option>
              <option value="pn">Shopping</option>
              <option value="ws">Food/Drinks</option>
              <option value="pn">Groceries</option>
              <option value="ws">Entertainment</option>
              <option value="pn">Misc</option>
            </select>
                    </div>
                </div>


                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
                    <button type="submit" [disabled]="!addGoalForm.valid" class="signupbtn">Add</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        // Get the modal
        var add_modal = document.getElementById('id01');

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                add_modal.style.display = "none";
            }
        }
    </script>
</div>