<!---
<mat-card>
    <mat-card-content>
        <button mat-raised-button color="accent" *ngIf="!isAuthenticated" (click)="oktaAuth.loginRedirect()">Login
    </button>
        <button mat-raised-button color="accent" *ngIf="isAuthenticated" [routerLink]="['/car-list']">Car List
    </button>
    </mat-card-content>
</mat-card>-->


<!--Home Sections-->
<section id="home " class="home bg-black fix ">
    <div class="overlay "></div>
    <div class="container ">
        <div class="row ">
            <div class="main_home ">
                <div class="col-md-12 ">
                    <div class="hello_slid ">
                        <div class="slid_item xs-text-center ">
                            <div class="col-sm-4 ">
                                <!---<img src="assets/img/bank1.jpg " alt=" " />-->
                            </div>
                            <div class="col-sm-4 ">
                                <div class="home_text xs-m-top-30 ">
                                    <h2 class="text-white ">Financial <strong>Website</strong></h2>

                                </div>

                                <!--- <div class="home_btns m-top-40 ">
                                            <a href=" " class="btn btn-primary m-top-20 ">Buy Now</a>
                                            <a href=" " class="btn btn-default m-top-20 ">Take a Tour</a>
                                        </div>-->
                            </div>
                        </div>
                        <!-- End off slid item -->

                    </div>
                </div>
            </div>
        </div>
        <!--End off row-->
    </div>
    <!--End off container -->
</section>
<!--End off Home Sections-->



<!--Featured Section-->
<section id="features " class="features bg-grey ">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 ">
                        <div class="f_item_icon ">
                            <i class="fa fa-stethoscope "></i>
                        </div>
                        <div class="f_item_text ">
                            <h3>Best Quality Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 ">
                        <div class="f_item_icon ">
                            <i class="fas fa-clock "></i>
                        </div>
                        <div class="f_item_text ">
                            <h3>Responsive Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        <div class="f_item_icon ">
                            <i class="fas fa-chalkboard-teacher "></i>
                        </div>
                        <div class="f_item_text ">
                            <h3>Easy to Customize</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        <div class="f_item_icon ">
                            <i class="fas fa-laptop-code "></i>
                        </div>
                        <div class="f_item_text ">
                            <h3>Best Quality Design</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque eleifend in sit amet mattis volutpat rhoncus.</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->


<!--Dialogue section-->

<section id="dialogue " class="dialogue bg-yellow roomy-80 ">
    <div class="container ">
        <div class="row ">
            <div class="main_dialogue text-center ">
                <div class="col-md-12 ">
                    <h3>Platform for visually analyzing expenditures, budgets and goals <br /> </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<!--Business Section-->
<section id="business " class="business bg-green roomy-70 ">
    <div class="business_overlay "></div>
    <div class="container ">
        <div class="row ">
            <div class="main_business ">
                <div class="col-md-5 ">
                    <div class="business_item sm-m-top-50 ">
                        <h2 class="text-uppercase text-white "><strong>Made</strong> is Template For Business</h2>

                        <p class="m-top-20 text-white ">Lorem ipsum dolor sit amet, consectetur adipiscing elit pellentesque eleifend in mi sit amet mattis suspendisse ac ligula volutpat nisl rhoncus sagittis cras suscipit lacus quis erat malesuada lobortis eiam dui magna volutpat commodo
                            eget pretium vitae elit etiam luctus risus urna in malesuada ante convallis.</p>

                        <ul class="text-white ">
                            <li><i class="fa fa-arrow-circle-right "></i> Clean & Modern Design</li>
                            <li><i class="fa fa-arrow-circle-right "></i> Fully Responsive</li>
                            <li><i class="fa fa-arrow-circle-right "></i> Google Fonts</li>
                        </ul>

                        <div class="business_btn m-top-50 ">
                            <a href=" " class="btn btn-default m-top-20 ">Buy This Template</a>
                        </div>

                    </div>
                </div>

                <div class="col-md-7 ">
                    <div class="business_item ">
                        <div class="business_img ">
                            <img src="assets/images/business-img.png " alt=" " />
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End off Business section -->


<!--product section-->
<section id="product " class="product text-center ">
    <div class="container ">
        <div class="main_product roomy-80 ">
            <div class="head_title text-center fix ">
                <h2 class="text-uppercase text-black ">Our Works</h2>
                <h5>We Create amazing Design</h5>
            </div>

            <div id="carousel-example-generic " class="carousel slide " data-ride="carousel ">

                <!-- Wrapper for slides -->
                <div class="carousel-inner " role="listbox ">
                    <div class="item active ">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="./assets/img/work1.jpeg " alt=" " />
                                            <!----<div class="port_overlay text-center ">
                                                        <a href="assets/images/work-img1.jpg " class="popup-img ">+</a>
                                                    </div>-->
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Money on the Go</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/img/work2.jpeg " alt=" " />
                                            <!----<div class="port_overlay text-center ">
                                                        <a href="assets/img/work2.jpeg " class="popup-img ">+</a>
                                                    </div>-->
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Budget that work</h5>
                                            <h6> Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/img/work3.png " alt=" " />
                                            <!---- <div class="port_overlay text-center ">
                                                        <a href="assets/images/work-img3.jpg " class="popup-img ">+</a>
                                                    </div>-->
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>One step at a time</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="item ">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/images/work-img1.jpg " alt=" " />
                                            <div class="port_overlay text-center ">
                                                <a href="assets/images/work-img1.jpg " class="popup-img ">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Your Work Title</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/images/work-img2.jpg " alt=" " />
                                            <div class="port_overlay text-center ">
                                                <a href="assets/images/work-img2.jpg " class="popup-img ">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Your Work Title</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/images/work-img3.jpg " alt=" " />
                                            <div class="port_overlay text-center ">
                                                <a href="assets/images/work-img3.jpg " class="popup-img ">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Your Work Title</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="item ">
                        <div class="container ">
                            <div class="row ">
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/images/work-img1.jpg " alt=" " />
                                            <div class="port_overlay text-center ">
                                                <a href="assets/images/work-img1.jpg " class="popup-img ">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Your Work Title</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/images/work-img2.jpg " alt=" " />
                                            <div class="port_overlay text-center ">
                                                <a href="assets/images/work-img2.jpg " class="popup-img ">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Your Work Title</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 ">
                                    <div class="port_item xs-m-top-30 ">
                                        <div class="port_img ">
                                            <img src="assets/images/work-img3.jpg " alt=" " />
                                            <div class="port_overlay text-center ">
                                                <a href="assets/images/work-img3.jpg " class="popup-img ">+</a>
                                            </div>
                                        </div>
                                        <div class="port_caption m-top-20 ">
                                            <h5>Your Work Title</h5>
                                            <h6>Graphic Design</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control " href="#carousel-example-generic " role="button " data-slide="prev ">
                    <i class="fa fa-angle-left " aria-hidden="true "></i>
                    <span class="sr-only ">Previous</span>
                </a>

                <a class="right carousel-control " href="#carousel-example-generic " role="button " data-slide="next ">
                    <i class="fa fa-angle-right " aria-hidden="true "></i>
                    <span class="sr-only ">Next</span>
                </a>
            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Product section -->


<!--product section
        <section id="team " class="team bg-grey fix ">
            <div class="container ">
                <div class="main_team roomy-80 ">
                    <div class="head_title text-center fix ">
                        <h2 class="text-uppercase ">Our Team</h2>
                        <h5>We have a talent with amazing skill</h5>
                    </div>

                    <div id="team-slid " class="carousel slide carousel-fade " data-ride="carousel ">
                        <!-- Indicators
                        <ol class="carousel-indicators ">
                            <li data-target="#team-slid " data-slide-to="0 " class="active "></li>
                            <li data-target="#team-slid " data-slide-to="1 "></li>
                            <li data-target="#team-slid " data-slide-to="2 "></li>
                        </ol>

                        <!-- Wrapper for slides 
                        <div class="carousel-inner " role="listbox ">
                            <div class="item active ">
                                <div class="container ">
                                    <div class="row ">
                                        <div class="col-sm-4 ">
                                            <div class="team_item team_skill ">
                                                <div class="team_author ">
                                                    <h4>John Doe</h4>
                                                    <p>CEO & FOunder</p>
                                                </div>

                                                <div class="team_skill_title fix m-top-40 m-bottom-40 ">
                                                    <h5>Best Skill</h5>
                                                </div>

                                                <div class="skill_bar sm-m-top-50 m-top-20 ">
                                                    <div class="teamskillbar clearfix m-top-20 " data-percent="80% ">
                                                        <h6 class="text-uppercase ">Photoshop</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="75% ">
                                                        <h6 class="text-uppercase ">WEB DESIGN</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="90% ">
                                                        <h6 class="text-uppercase ">LOGO Design</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="75% ">
                                                        <h6 class="text-uppercase ">Wordpress</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 
                                                </div>
                                                <!-- End off skill bar 

                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 -->

<div class="col-sm-4 ">
    <div class="team_item xs-m-top-30 ">
        <div class="port_img ">
            <img src="assets/images/team-img1.png " alt=" " />
        </div>
    </div>
</div>
<!-- End off col-sm-4 

                                        <div class="col-sm-4 ">
                                            <div class="team_item team_content xs-m-top-30 ">
                                                <h4>Failure will never overtake me if my determination to succeed is strong enough.</h4>
                                                <h5 class="m-top-40 ">- Og Mandino</h5>

                                                <div class="divider "></div>

                                                <div class="team_socail ">
                                                    <h5>Get In Touch</h5>
                                                    <ul class="list-inline m-top-20 ">
                                                        <li><a href=" "><i class="fa fa-facebook "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-twitter "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-linkedin "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-google-plus "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-behance "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-dribbble "></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                    </div>
                                    <!-- End off row 
                                </div>
                            </div>
                            <!-- End off team 

                            <div class="item ">
                                <div class="container ">
                                    <div class="row ">
                                        <div class="col-sm-4 ">
                                            <div class="team_item team_skill ">
                                                <div class="team_author ">
                                                    <h4>John Doe</h4>
                                                    <p>CEO & FOunder</p>
                                                </div>

                                                <div class="team_skill_title fix m-top-40 m-bottom-40 ">
                                                    <h5>Best Skill</h5>
                                                </div>

                                                <div class="skill_bar sm-m-top-50 m-top-20 ">
                                                    <div class="teamskillbar clearfix m-top-20 " data-percent="80% ">
                                                        <h6 class="text-uppercase ">Photoshop</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="75% ">
                                                        <h6 class="text-uppercase ">WEB DESIGN</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="90% ">
                                                        <h6 class="text-uppercase ">LOGO Design</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="75% ">
                                                        <h6 class="text-uppercase ">Wordpress</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 
                                                </div>
                                                <!-- End off skill bar 

                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                        <div class="col-sm-4 ">
                                            <div class="team_item xs-m-top-30 ">
                                                <div class="port_img ">
                                                    <img src="assets/images/team-img1.png " alt=" " />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                        <div class="col-sm-4 ">
                                            <div class="team_item team_content xs-m-top-30 ">
                                                <h4>Failure will never overtake me if my determination to succeed is strong enough.</h4>
                                                <h5 class="m-top-40 ">- Og Mandino</h5>

                                                <div class="divider "></div>

                                                <div class="team_socail ">
                                                    <h5>Get In Touch</h5>
                                                    <ul class="list-inline m-top-20 ">
                                                        <li><a href=" "><i class="fa fa-facebook "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-twitter "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-linkedin "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-google-plus "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-behance "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-dribbble "></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                    </div>
                                    <!-- End off row 
                                </div>
                            </div>
                            <!-- End off team 

                            <div class="item ">
                                <div class="container ">
                                    <div class="row ">
                                        <div class="col-sm-4 ">
                                            <div class="team_item team_skill ">
                                                <div class="team_author ">
                                                    <h4>John Doe</h4>
                                                    <p>CEO & FOunder</p>
                                                </div>

                                                <div class="team_skill_title fix m-top-40 m-bottom-40 ">
                                                    <h5>Best Skill</h5>
                                                </div>

                                                <div class="skill_bar sm-m-top-50 m-top-20 ">
                                                    <div class="teamskillbar clearfix m-top-20 " data-percent="80% ">
                                                        <h6 class="text-uppercase ">Photoshop</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="75% ">
                                                        <h6 class="text-uppercase ">WEB DESIGN</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="90% ">
                                                        <h6 class="text-uppercase ">LOGO Design</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 

                                                    <div class="teamskillbar clearfix m-top-50 " data-percent="75% ">
                                                        <h6 class="text-uppercase ">Wordpress</h6>
                                                        <div class="teamskillbar-bar "></div>
                                                    </div>
                                                    <!-- End Skill Bar 
                                                </div>
                                                <!-- End off skill bar 

                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                        <div class="col-sm-4 ">
                                            <div class="team_item xs-m-top-30 ">
                                                <div class="port_img ">
                                                    <img src="assets/images/team-img1.jpg " alt=" " />
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                        <div class="col-sm-4 ">
                                            <div class="team_item team_content xs-m-top-30 ">
                                                <h4>Failure will never overtake me if my determination to succeed is strong enough.</h4>
                                                <h5 class="m-top-40 ">- Og Mandino</h5>

                                                <div class="divider "></div>

                                                <div class="team_socail ">
                                                    <h5>Get In Touch</h5>
                                                    <ul class="list-inline m-top-20 ">
                                                        <li><a href=" "><i class="fa fa-facebook "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-twitter "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-linkedin "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-google-plus "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-behance "></i></a></li>
                                                        <li><a href=" "><i class="fa fa-dribbble "></i></a></li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- End off col-sm-4 

                                    </div>
                                    <!-- End off row 
                                </div>
                            </div>
                            <!-- End off team 

                        </div>

                    </div>
                </div>
                <!-- End off row 
            </div>
            <!-- End off container 
        </section>
        <!-- End off Product section 


        <!--Brand Section--
        <section id="brand " class="brand fix roomy-80 ">
            <div class="container ">
                <div class="row ">
                    <div class="main_brand text-center ">
                        <div class="col-sm-3 col-xs-6 ">
                            <div class="brand_item ">
                                <img src="assets/images/cbrand-1.png " alt=" " />
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 ">
                            <div class="brand_item ">
                                <img src="assets/images/cbrand-2.png " alt=" " />
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 ">
                            <div class="brand_item xs-m-top-50 ">
                                <img src="assets/images/cbrand-3.png " alt=" " />
                            </div>
                        </div>
                        <div class="col-sm-3 col-xs-6 ">
                            <div class="brand_item xs-m-top-50 ">
                                <img src="assets/images/cbrand-4.png " alt=" " />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End off Brand section -->



<!--Test section
        <section id="test " class="test bg-black roomy-60 fix ">
            <div class="overlay "></div>
            <div class="container ">
                <div class="row ">
                    <div class="main_test fix text-center ">

                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class="head_title text-center fix ">
                                <h2 class="text-uppercase text-white ">Our Clients</h2>
                                <h5 class="text-white ">The Clients already give the good feedback</h5>
                            </div>
                        </div>

                        <div id="testslid " class="carousel slide carousel-fade " data-ride="carousel ">

                            <div class="carousel-inner " role="listbox ">
                                <div class="item active ">
                                    <div class="col-md-8 col-md-offset-2 ">
                                        <div class="test_item fix ">
                                            <div class="test_img fix ">
                                                <img class="img-circle " src="assets/images/test-img1.jpg " alt=" " />
                                            </div>

                                            <div class="test_text text-white ">
                                                <em>Mauris posuere lectus nibh mauris interdum fermentum nunc, in fringilla mauris
                                                        imperdiet non estibulum blandit, nisl non volutpat luctus, nisi leo posuere
                                                        tortor quis ultrices turpis nisl eu ante.</em>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End off item 

        <div class="item ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="test_item fix ">
                    <div class="test_img fix ">
                        <img class="img-circle " src="assets/images/test-img1.jpg " alt=" " />
                    </div>

                    <div class="test_text text-white ">
                        <em>Mauris posuere lectus nibh mauris interdum fermentum nunc, in fringilla mauris
                                                        imperdiet non estibulum blandit, nisl non volutpat luctus, nisi leo posuere
                                                        tortor quis ultrices turpis nisl eu ante.</em>

                    </div>
                </div>
            </div>
        </div>
        <!-- End off item 

        <div class="item ">
            <div class="col-md-8 col-md-offset-2 ">
                <div class="test_item fix ">
                    <div class="test_img fix ">
                        <img class="img-circle " src="assets/images/test-img1.jpg " alt=" " />
                    </div>

                    <div class="test_text text-white ">
                        <em>Mauris posuere lectus nibh mauris interdum fermentum nunc, in fringilla mauris
                                                        imperdiet non estibulum blandit, nisl non volutpat luctus, nisi leo posuere
                                                        tortor quis ultrices turpis nisl eu ante.</em>

                    </div>
                </div>
            </div>
        </div>
        <!-- End off item -

    </div>
    <!-- End off carosel inner -->

<!-- Controls 
    <a class="left carousel-control " href="#testslid " role="button " data-slide="prev ">
        <i class="fa fa-angle-left " aria-hidden="true "></i>
        <span class="sr-only ">Previous</span>
    </a>

    <a class="right carousel-control " href="#testslid " role="button " data-slide="next ">
        <i class="fa fa-angle-right " aria-hidden="true "></i>
        <span class="sr-only ">Next</span>
    </a>

    </div>

    </div>
    </div>
   End off row -->
</div>
<!-- End off container -->
</section>
<!-- End off test section -->



<!--Call to  action section-->
<section id="action " class="action bg-blue roomy-40 ">
    <div class="container ">
        <div class="row ">
            <div class="maine_action ">
                <div class="col-md-8 ">
                    <div class="action_item text-center ">
                        <h2 class="text-white text-uppercase ">We manage multiple finances in one place at one time</h2>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="action_btn text-left sm-text-center ">
                        <a href=" " class="btn btn-default ">Manage Finances</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>







<!-- JS includes 

    <script src="assets/js/vendor/jquery-1.11.2.min.js "></script>
    <script src="assets/js/vendor/bootstrap.min.js "></script>

    <script src="assets/js/jquery.magnific-popup.js "></script>
    <script src="assets/js/jquery.easing.1.3.js "></script>
    <script src="assets/js/bootsnav.js "></script>



    <script src="assets/js/plugins.js "></script>
    <script src="assets/js/main.js "></script>-->