<!-- SPEAKERS SECTION -->
<section id="speakers">
    <br><br>
    <br><br>
    <h3>Meet the finance team</h3>
    <!-- Section Title -->
    <div class="separator"></div>
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <!-- Section Description -->
        
        </div>

        <!-- First Row of Speakers -->
        <div class="row1">

            <!-- Speaker 1 -->
            <div class="col-md-3">
                <div class="member-profile">

                    <!-- <figure> -->
                    <img src="../assets/img/0.jpg" alt="" />

                    <!-- </figure> -->

                    <!---<div class="hover_img">
                        <img src="/src/app/img/0.jpg" alt="" />
                    </div>-->
                    <span>FrontEnd developer</span>
                    <h4><span>Ira </span> Sharma</h4>
                </div>
                <ul>
                    
                    <li><a href="https://www.linkedin.com/in/ira-sharma/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/irasharma13" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

            <!-- Speaker 2 -->
            <div class="col-md-3">
                <div class="member-profile">

                    <img src="../assets/img/Shivangi.jpeg" alt="" />

                    <span>Software Developer</span>
                    <h4><span>Shivangi</span> Agarwal</h4>
                </div>
                <ul>
                    <li><a href="https://www.linkedin.com/in/shivangi-agarwal-50a890117/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/AShivangi" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

            <!-- Speaker 3 -->
            <div class="col-md-3">
                <div class="member-profile">

                    <img src="../assets/img/Crystle.jpg" alt="" />

                    <span>BackEnd Developer</span>
                    <h4><span>Crystal</span> Johnson</h4>
                </div>
                <ul>
                    <li><a href="https://www.linkedin.com/in/crystle-johnson-3b3646105/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/CrystleJ" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

            <!-- Speaker 4 -->
            <div class="col-md-3">
                <div class="member-profile">

                    <img src="../assets/img/Sandya.jpg" alt="" />

                    <span>FrontEnd Developer</span>
                    <h4><span>Sandya</span> Manickam</h4>
                </div> 
                <ul>
                    <li><a href="https://www.linkedin.com/in/sandya-manickam-09a811132/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="https://github.com/sandyamanickam" target="_blank"><i class="fa fa-github"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
</section>
           