<section id="features " class="features bg-light-green m-top-60 ">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                <div class="col-md-6 ">
                    <div class="features_item sm-m-top-30 ">
                        
                        <div class="f_item_text ">
                            
                            <h2><strong> When you’re on top of your money, life is good. 
                                We help you effortlessly manage your finances in one place.</strong></h2>
                            
         

                        </div>
                    </div>
                </div>
                <div class="col-md-6 ">
                     
                    <div class="business_item ">
                        <div class="business_img ">
                            <img src="../assets/img/finance.jpg" alt=" " />
                        </div>
                    </div>
                   
                </div>
                

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->


<!--Dialogue section-->

<section id="dialogue " class="dialogue bg-light-blue roomy-80 ">
    <div class="container ">
        <div class="row ">
            <div class="main_dialogue text-center ">
                <div class="col-md-12 "> 
                    <h3 class="text-white"> A smarter way to explore finance, gain insights on your lifestyle and what you can do to better manage finances and make better decisions based on personalized recommendations
                        <br /> </h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="features " class="features bg-pink">
    <div class="container ">
        <div class="row ">
            <div class="main_features fix roomy-70 ">
                
                 <div class="col-md-6 ">
                     
                    <div class="business_item ">
                        <div class="business_img ">
                            <img src="../assets/img/finance2.jpg" alt=" " />
                        </div>
                    </div>
                   
                </div>
                

                <div class="col-md-6 ">
                    <div class="features_item m-top-70 ">
                        
                        <div class="f_item_text ">
                            
                            <h2><strong> Get alerted when there's an important change in your report and keep up to date on your transactions and savings.</strong></h2>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- End off row -->
    </div>
    <!-- End off container -->
</section>
<!-- End off Featured Section-->